/* 
    Document   : main
    Created on : Dec 7, 2013, 6:45:33 PM
    Author     : Ali
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4E4E4;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 160%;
    padding: 0px;
    margin: 0px;
}

body h1{line-height: 120%;}
table form { margin-bottom: 0; }
form ul { margin-left: 0; list-style: none; }
form ul li{margin:0px 0px 10px 0px;}
form .label-span{width:30%; display:inline-block;vertical-align: top;}
form ul li input, form ul li select{padding:5px; width:300px;}
form ul li select{padding:5px; width:312px;}
.error { color: red; font-style: italic; }
.required{color:red; }

.container{
  -webkit-box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.29);
  background-image:url(../images/header_bg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  position:relative;
  background-color:#ffffff;
  width:999px;
  margin:0 auto;
}

.logo{
  width:285px;
  height:71px;
  background-image:url(../images/logo.png);
  background-repeat: no-repeat;
  float: left;
  text-align: left;
  margin-left:40px;
  margin-top: 70px;
}

.free-call{
    color: #CC0000;
    font-size: 16px;
    font-weight: bold;
    height: 10px;
    padding: 10px 30px 0 0;
    text-align: right;
}



.padded-right-bottom{
  padding:0px 10px 10px 0px;
}

.navbar{
  display: table;
  width:100%;
}

.navbar-nav{
  background-color: #0D375F;
  background-image: -moz-linear-gradient(center top , #2864AC, #0D375F);
  border: 0 solid #D7D4D4;
  border-radius: 3px;
  box-shadow: 0 1px #F4F4F4 inset, 0 -2px #0A2D4F inset, 0 1px 3px #DDDDDD;
  font-family: Arial,Helvetica,sans-serif;
  height: 47px;
  width:100%;
  
}

.navbar-nav > li{
  display:table-cell;

  __display:inline-block;
}
.navbar-nav >  li:hover > a {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #FFFFFF);
    border-left: medium none;
    box-shadow: 0 3px #EEEEEE inset;
    color: #333333;
    padding-left: 10.9px;
}

.navbar-nav > li > a {
    border-left: 1px solid rgba(255, 255, 255, 0.35);
}

.navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 10.5pt;
    font-weight: bold;
    line-height: 18px;
    padding: 13px 10.2px 16px;
}





.navbar-nav {
    background-color: #0D375F;
    background-image: -moz-linear-gradient(center top , #2864AC, #0D375F);
background: -moz-linear-gradient(top,  #1e5799, #7db9e8); /* FF3.6+ */
background: -webkit-gradient(linear, center top, center bottom, color-stop(#2864AC), color-stop(#0D375F)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(center top,  #2864AC, #0D375F); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(center top,  #2864AC, #0D375F); /* Opera 11.10+ */
background: -ms-linear-gradient(center top,  #2864AC, #0D375F); /* IE10+ */
background: linear-gradient(to bottom,  #2864AC, #0D375F); /* W3C */



    border: 0 solid #D7D4D4;
    border-radius: 3px;
    box-shadow: 0 1px #F4F4F4 inset, 0 -2px #0A2D4F inset, 0 1px 3px #DDDDDD;
    font-family: Arial,Helvetica,sans-serif;
    height: 47px;
}

.navbar-nav {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 964px;
}

.navbar-nav li > a {
    display: block;
}

.navbar-default a {
    text-decoration: none;
}

.navbar-nav > li {
    border-right: 1px solid rgba(10, 10, 10, 0.1);
}
.navbar-nav > li {
    float: left;
}

.navbar-nav li, .navbar-nav  a {
  position: relative;
  z-index: 1000;
}

li {
  list-style: none outside none;
}

.navbar-nav > li > a {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}

.navbar-nav > li:first > a {
  border-left: none;
}
.navbar-nav > li:last > a {
  border-left: none;
}

.navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 10.5pt;
  font-weight: bold;
  line-height: 18px;
  padding: 13px 10px 16px;
}

.navbar-nav li > a {
  display: block;
}

.navbar-nav a {
  text-decoration: none;
}


.pull-left{
  float:left;
}

.navbar-secondary{
  background-color:#d9d6d6;
  width: 964px;
  margin:0px auto;
  padding:10px 0px 10px 0px;
  color:#0D375F;
  min-height: 30px;
}

.social{
  float:right;
  margin-right: 10px;
}

.niblet h3 a{
  font-family: "Verdana";
  text-decoration: none; font-size:15px; padding: 0px;
  color: #333333;

}

h2 a{
  font-size:16px; 
  color: #0D375F;
  border-bottom: 1px solid #000000; display: block; padding-bottom:10px;
  text-decoration: none;
  font-weight: bold;
}


.row{
  margin: 20px 0 0;
  padding: 0 15px 25px;
  vertical-align: top;
}

.row .row{padding: 0px;}


.col-md-8{
    float: left;
    width: 630px;
}

.col-md-8 .col-md-4{
  width:305px;float:left;

}

.col-md-8 .col-md-4:first-child{
  margin-right:20px;
}



.col-md-3{
    float: right;
    width: 270px;
}


.col-md-4{
    float: right;
    width: 320px;
}

.col-md-5{
    float: right;
    width: 400px;
}


.single-element{
  padding:5px;border-top:1px solid #CCCCCC;
  color:#CCCCCC;

}

.single-element a{
  text-decoration: none;
  color: #000000;
}

.clearfix{
  clear:both;
  float:none;
}

.footer{  
  background-color: #0D375F;
  clear: both;
  color: #FFFFFF;
  direction: ltr;
  height: auto;
  line-height: 35px;
  margin: 10px 0 0;
  overflow: hidden;
}

  .footer .col-3{
    float: left;
    margin-left: 40px;
    padding-bottom: 10px;
    width: 150px;
    
  }


.jumbo {
    border-top: 1px solid #CCCCCC;
    color: #000000;
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    margin: 10px 60px;
    padding: 10px;
    text-align: center;
}

.right-header{
  float:right; margin: 90px 20px 0;
  text-align: right;
}

.main-search-holder{margin-top:10px;}
.main-search-holder input.blue-search{
  background-color:#1E528A;
  color: #FFFFFF;
  width:200px;
  border:0px;
  padding:3px;
}

.search-btn{
  background-image:url('../images/search.png');
  border: 0px;
  padding:0px;
  width:25px;
  height:25px;
  background-repeat: no-repeat;
}

.article-element{
  border-bottom:1px solid #CCCCCC;
  padding:10px 0px 10px 0px;
}

a.btn-gray{
  color: #FFFFFF;
  background-color:#666;
  padding:6px 10px;
  font-weight: bold;
}

a.btn-gray:hover{
  background-color: #000;
}
.footer .link-well{
  padding-left:0px; margin-left:0px;
}

.footer .title{
  font-size:16px;
  font-weight: bold;
}
  .footer .link-well a{
    color:#FFFFFF;
  }

  .footer .link-well li{
    line-height: 17px;
  }

  .footer .row{background-color: none;}

  .copyright {
    background-color: #0A2946;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    padding:20px;
}

/*hyperlinks*/

a{
  color:#000000;
  text-decoration: none;
}

/* Page Content */

.page h1{
  background:none repeat scroll 0 0 #0D375F;
  border-radius: 10px 10px 0px 0px ;
    margin:0px 0px;
  padding:10px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size:24px;

}

.page{
    font-size:16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom:20px;
  min-height:200px;
}

/* .text-center */

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/* Buttons */

.btn{
  background: none repeat scroll 0 0 #333333;
  border-radius: 10px;
  color: #FFFFFF;
  box-shadow: 0 0 2px #333333;


  display:inline-block;
  font-size: 12px;font-weight: bold;
  margin: auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px;
  min-width: 100px;
  padding: 10px;

}



.small-btn{
  background: none repeat scroll 0 0 #333333;
  border-radius: 4px;
  color: #FFFFFF;
  box-shadow: 0 0 2px #333333;


  display:inline-block;
  font-size: 16px;font-weight: bold;
  padding:10px 10px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 80px;
  border: 1px;
}



.btn-info{
  background-color: #98C546;
}

/* wells */

.well {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    margin: 0 0 30px;
    padding-bottom:10px;
}

.well.margin-auto{
  margin:40px;
  margin-left:auto;
}

.well h2{
  background:none repeat scroll 0 0 #0D375F;
  border-radius: 10px 10px 0px 0px ;

  margin:0px 0px;
  padding:10px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size:24px;
}

.well .content{
  padding:10px;
  font-size:16px;
  line-height: 24px;
}

/* well-square */

.well-square {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    margin: 0 0 30px;
    padding-bottom:10px;
}

.well-square.margin-auto{
  margin:40px;
  margin-left:auto;
}

.well-square h2{
  background:none repeat scroll 0 0 #0D375F;
  margin:0px 0px;
  padding:10px;
  color: #FFFFFF;
  text-align: left;
  font-weight: normal;
  font-size:18px;
}

.well-square .content{
  padding:10px;
  font-size:12px;
  line-height: 16px;
}



/* sublime*/

.sublime{
  padding:20px;
  border:1px solid #EDEDED;
  border-top-color: #0D375F;
}

.sublime h2{
  color:#0D375F; font-size: 16px;
}
/*alerts*/

.flash{
  width:954px;
  margin: auto;
  
}
.alert{
  padding:5px;
  margin:5px;
  background-color:#FCC9C9;
}

/* SLider Home Page*/

.slide{
  width:100%; height:339px; max-height:339px; 
  overflow:hidden; box-shadow: 0 0 5px #888; margin-bottom:10px;
}

.slide img{
  width:397px;
  height:272px;
}


#featured{   
  padding-right:250px;   
  position:relative;   
  background:#fff;  
  border:1px solid #ccc;  
}  

#featured .ui-tabs-panel, #featured{
  height: 380px;
  width: 385px;
}

#featured ul.ui-tabs-nav{   
  position:absolute;   
  top:0; left:385px;   
  list-style:none;   
  padding:0; margin:0;   
  width:250px;   
}  

#featured ul.ui-tabs-nav li{   
  _border: 1px solid #EAEAEA;
  border-radius: 0;
  color: #666666;
  font-size: 12px;
  height: 75px;
  padding: 0;
}  

#featured ul.ui-tabs-nav li a{   
  background-color: #FEFEFE;
  background: #ededed; /* Old browsers */
  background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */





  border-radius: 0;
  display: block;
  text-decoration: none;

  color: #010101;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 18px 6px;
  text-align: left;
  line-height: 18px;
  vertical-align: middle;
  position: relative;
}

#featured .ui-tabs-panel{   
  overflow:hidden;  
  background: none repeat scroll 0 0 #FFFFFF;
  position: relative;
  box-shadow: 0 0 5px #888;
}  

#featured .ui-tabs-hide{   
  display:none;   
}  

#featured li.ui-tabs-nav-item a{/*On Hover Style*/   
  display:block;   
  height:55px;   
  color:#333;  background:#fff;   
  line-height:18px;  
  outline:none;  
}  

#featured ul.ui-tabs-nav li.ui-tabs-active a, #featured li.ui-tabs-nav-item a:hover{   
  background: none repeat scroll 0 0 #0D375F;
  box-shadow: 0 0 2px #333333;
  color:#FFFFFF;
}  


#featured ul.ui-tabs-nav li.ui-tabs-active:last a, #featured li.ui-tabs-nav-item:last a:hover{   
  padding-bottom:0px;
}  



#featured .ui-tabs-panel .info{   
  position:absolute;   
  bottom:0px; left:0;   
  height:70px;     
  width: 385px;
  background-color:#FFFFFF;
  opacity:0.8;
}  

#featured .info p{   
  margin:5px;   
  line-height:15px; color:#000;  
  opacity: 1;
}  

#featured .info a{   
  text-decoration:none;   
  /* color:#fff;   */
}  

#featured .info a:hover{   
  text-decoration:underline;   
}  

.col-md-12 #featured{   
  __padding-right:450px;   
  position:relative;   
  background:#fff;  
  border:1px solid #ccc;  
}  

.col-md-12  #featured .ui-tabs-panel .info{   
  position:absolute;   
  bottom:0px; left:0;   
  height:70px;     
  width: 585px;
  background-color:#FFFFFF;
  opacity:0.8;
}  

.col-md-12 #featured .ui-tabs-panel, .col-md-12 #featured{
  height: 460px;
  width: 585px;
}

.col-md-12 #featured ul.ui-tabs-nav{   
  position:absolute;   
  top:0; left:585px;   
  list-style:none;   
  padding:0; margin:0;   
  width:380px;   
}


/** form **/

form ul{
  padding-left:0px;
}

form .errors{
  color:red;
  display: block;
}

form > ul > li{
  padding:5px 0px 5px 0px;
}

form > ul > li > label{
  display:inline-block;
  width:20%;
  vertical-align: top;
}

form > ul > li > input, form > ul > li > textarea, form > ul > li > select {
  display:inline-block;
  width:60%;
}

form >ul >li > input[type="submit"]{
  width:120px;

}

.big-textarea{
  width:540px;
  height: 300px;
}
/*MAP*/

#map{
    width: 100%;
    top: 0;
    bottom: 0;
    height:500px;
}

/*Company Listings*/

.single-company{margin-bottom:30px; padding-left:30px;}

.single-company  h1{
  background-color:#ffffff;
  padding:8px 0px;
  border-radius: 0px;
  margin-bottom:0px;
  text-align: left;
  color:#0D375F;
  font-weight: bold;
  font-size:16px;
  border-bottom:2px solid #000000;
}

.single-company  p{
  font-size:12px;
  margin-top: 0px;
  border-bottom:2px solid #CCCCCC;
}

/* JOBS */

.single-job{
  font-size:14px; 
  padding:0px 20px 10px 20px;
  margin-bottom:10px;
  
}
.single-job h2{margin-bottom:0px;}



.single-job h2 a{
  color:#000000;
  background-image: url('../images/star.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 15px;
  font-size:16px;
  padding:0px 0px 0px 25px;
  margin:0px;
  border: 0px;
}


.section-header{
  border-bottom:1px solid #000000;
}

.section-header {font-size:16px; color:#005d5c; font-weight: bold;}
.section-box{border:1px solid #ccc; padding:10px; margin:0px 0px 20px 0px;}

h2.no-bg-icon{margin-top:0px;}
h2.no-bg-icon a{

  padding-left: 0px; background-image: none;
}

.single-job .small-date{
  font-size:12px; color:#999;
}

.single-job .nubbins{
  color:#000000;
}

.single-job .nubbins .label{
  color:#999; display: inline-block;
}

.single-job .breadcrumb{
  padding-top: 10px;

  font-size:12px ; color:#999;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}


/*search boxes*/

.white-search-box{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  margin: 0 0 30px;
  padding:10px;
}

.white-search-box .header{
  color:#005d5c; font-weight: bold;
}
#search-tab-holder li{
  background-color:#000;  color: #FFFFFF;
  padding:10px;
}


#search-tab-holder .label{
  font-size:20px;font-weight: bold;display: inline-block; padding:10px;
}

#search-tab-holder input, #search-tab-holder select{
  padding:10px;
}

#search-tab-holder ul{
  margin:0px;
  padding-left: 0px;
}
#search-tab-holder li{
  display: inline-block;margin-left: 0px; margin-bottom: 0px;
  font-size: 12px;  border-radius: 5px 5px 0 0; font-weight: bold;
  margin-right:1px;
}
#search-tab-holder  #search-tab-holder li.selected,   #search-tab-holder .tab-content{
  background-color:#4D6681;
  color: #FFFFFF;
  padding:10px;
}
#search-tab-holder li.selected{
  background-color:#4D6681;
}
#search-tab-holder .tab-content{

  margin:0px 0px 20px 0px;
  padding: 20px;
}
#search-tab-holder a{color: #ffffff; cursor:pointer;}

/*hacking jquery tabs*/

#va-accordion .ui-state-hover, #va-accordion .ui-widget-content .ui-state-hover, #va-accordion .ui-widget-header .ui-state-hover,
#va-accordion .ui-state-default, #va-accordion .ui-widget-content .ui-state-default, #va-accordion .ui-widget-header .ui-state-default{
  background-image:none;
  background-color: #4E85C4;
  border:none;
}

#va-accordion .ui-state-active, #va-accordion .ui-widget-content .ui-state-active, #va-accordion .ui-widget-header .ui-state-active{
  color:#FFFFFF;
}

/*banners*/

.banner-right{position:fixed;right:120px;}


/* pagination */


.pagination ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination ul > li > a:hover,
.pagination ul > li > span:hover,
.pagination ul > li > a:focus,
.pagination ul > li > span:focus {
  background-color: #eeeeee;
}

.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover,
.pagination ul > .active > a:focus,
.pagination ul > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover,
.pagination ul > .disabled > span:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

/* pagination */


ul.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

ul.pagination > li {
  display: inline;
}

ul.pagination > li > a,
ul.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

ul.pagination > li:first-child > a,
ul.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

ul.pagination > li:last-child > a,
ul.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.pagination > li > a:hover,
ul.pagination > li > span:hover,
ul.pagination > li > a:focus,
ul.pagination > li > span:focus {
  background-color: #eeeeee;
}

ul.pagination > .active > a,
ul.pagination > .active > span,
ul.pagination > .active > a:hover,
ul.pagination > .active > span:hover,
ul.pagination > .active > a:focus,
ul.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

ul.pagination > .disabled > span,
ul.pagination > .disabled > span:hover,
ul.pagination > .disabled > span:focus,
ul.pagination > .disabled > a,
ul.pagination > .disabled > a:hover,
ul.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}



.row.side-niblets{padding:5px; background-color:#EFEFEF;}

.side-niblets h4{margin-top:0px;}

.video-holder{
    background-color: #EFEFEF;
    display: inline-block;
    height: 175px;
    margin: 0 10px 10px 0;
    padding: 0 0 3px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 145px;
}

.inline-holder{
  display:inline-block;width:200px;vertical-align:top;text-align:left;background-color:#EFEFEF; padding:0px 0px 3px 0px;height:288px;margin-bottom:10px;
}

.inline-holder img{
  display: block;
}

.inline-holder p{
  padding:5px 10px 5px 10px;
  margin-top:10px;
  font-size:14px;
  display:block;
  font-weight: bold;
  line-height: 1.2;

  margin-bottom:3px;text-align:center;
}

.video-holder p{
  padding:10px;
  margin-top:10px;
  
  display:block;
  font-weight: bold;
  line-height: 160%;
  margin-bottom:3px;text-align:center;

}


.video-niblet{
    display: inline-block;
    margin-right: 14px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 180px;
}

.video-niblet .overlay{
  position:absolute; top:20%;left:35%; right:auto;bottom:auto;
}

.video-holder, .niblet img, a .inline-holder, .video-niblet a{
  opacity:1;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.video-holder:hover, .niblet:hover img, a:hover .inline-holder, .video-niblet a:hover{
  opacity:0.2;
}

.video-niblet b a{
  color:#000000;
  transition:color 1s;
  -webkit-transition:color 1s;
}

.video-niblet b a:hover{
  color:red;
}

div.row .video-niblet:last-child{
  margin-right:0px;
}

.bigger-text{
  font-size:14px;
}

.bolder{
  font-weight: bolder;
}

a.blue-link{
  color:#006C6B; font-weight:bold;
}

.black{color:#000000;}

.text-content{
  font-size:14px;
  color: #000000;
}

ul.horizontal-pill-menu{
  padding:0px; margin:0px;
  background: #0a497f; /* Old browsers */
  background: -moz-linear-gradient(top, #0a497f 0%, #1072b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a497f), color-stop(100%,#1072b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0a497f 0%,#1072b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0a497f 0%,#1072b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0a497f 0%,#1072b9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0a497f 0%,#1072b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a497f', endColorstr='#1072b9',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

ul.horizontal-pill-menu li{
 list-style: none;
 display: table-cell;
  height: 40px;
}

ul.horizontal-pill-menu li a{
  vertical-align: middle;;
  padding:10px 12px 10px 12px; color: #FFFFFF;
  font-size:12px;
  font-family: Arial;
  display: block;
}

ul.horizontal-pill-menu li a:hover, ul.horizontal-pill-menu li.current a{
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

}


/*dt and dls*/

/*basic-table*/

.basic-table{padding:10px 0px; border:0px;}

/*striped table*/

.striped-table{
  width:100%;
  border:1px solid #CCCCCC;padding:0px;

  font-size: 16px;
}

.striped-table th{
  background-color: #EFEFEF;
  padding:10px; border:0px;margin:0px;
  border-bottom: 1px solid #DDDDDD;
}

.striped-table td{ border:0px;margin:0px;
  border-bottom: 1px solid #DDDDDD;  padding:10px;
}


/** small content*/

.s-content{
  padding:20px; font-size:14px;color:#000;
}



.s-content h2{
  background-color:#0D375F; font-size: 16px;
  color:#FFFFFF; padding:5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: left;

}

/* span.highlight */
span.highlight{
  color:red;
  font-weight:bold;
}

/* .inline-block*/

.inline-block{display:inline-block;}

/*s-link*/

.s-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
  background-color:#000000;
  color:#FFFFFF;
  font-size:12px;
}

.s-link:hover{
  background-color: #FFFFFF;
  color:#000000;
}

.red{
  background-color: red;
}

.margin-x{
  margin:0px 5px 0px 5px;
}

.margin-y{
  margin:5px 0px 5px 0px;
}


/* status */

.status.success{
  padding:10px 10px 10px 30px;
  border:1px solid green;
  background-color:#DFF2BF;
  color:green;
  background-image: url('../images/accept.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin:15px;

}

.status.alert{
  padding:10px 10px 10px 30px;
  border:1px solid red;
  background-color:#F49695;
  color:red;
  background-image: url('../images/delete_16.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin:15px;
}


/* floats */

.float-right{
  float:right;
}

/* .filter-box */

.filter-box{
   margin-left:30px; margin-bottom:30px;
   color: #000000;
}

.filter-box select{
  padding:5px 5px 5px 0px; margin-top:5px;
}

/* .mini-form */

.mini-form{
  margin-right:auto;
  padding:10px;
}

.mini-form input[type="text"], .mini-form select{
  width:250px;
  padding:5px;
}

.mini-form select{
  width:260px;
  padding:5px;
}

.mini-form select option{
  width:260px;
}


.mini-form input[type="submit"]{
}
