﻿/* Ticker Styling */
.ticker-wrapper.has-js {
	margin: 0px;
	padding: 0px;
	width: 780px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #d9d6d6;
}
.ticker {
	width: 810px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #d9d6d6;
}
.ticker-content {
	margin: 3px 0 0 0;
	padding-top:0px;
	position: absolute;
	color: #0d375f;
	font-weight: bold;
	background-color: #d9d6d6;
	overflow: hidden;
	white-space: nowrap;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #1F527B;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #0D3059;
}
.ticker-swipe {
	padding-top: 0px;
	position: absolute;
	top: 0px;
	background-color: #d9d6d6;
	display: block;
	width: 800px;
	height: 23px; 
}
.ticker-swipe span {
	margin:3px 0 0 1px;
	background-color: #d9d6d6;
	border-bottom: 1px solid #005d5c;
	height: 12px;
	width: 7px;
	display: block;
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #d9d6d6;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}